#app{
    background-color: #1a202c;
    min-height: 100vh;
    padding: 40px 0px;
}

.l-laravel{
    width: 250px;
}

h1.titleProject{
    letter-spacing: 6px;
}
h1.subtitleProject{
    font-size: 28px;
    letter-spacing: 5px;
}